@model clinicaVeterinariaApp.Models.Veterinario.Visite

@{
    ViewData["Title"] = "Aggiungi Nuova Visita";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="AnimaleID" class="control-label"></label>
        <input asp-for="AnimaleID" class="form-control" />
        <span asp-validation-for="AnimaleID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataVisita" class="control-label"></label>
        <input asp-for="DataVisita" class="form-control" type="date" />
        <span asp-validation-for="DataVisita" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EsameObiettivo" class="control-label"></label>
        <textarea asp-for="EsameObiettivo" class="form-control"></textarea>
        <span asp-validation-for="EsameObiettivo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DescrizioneCura" class="control-label"></label>
        <textarea asp-for="DescrizioneCura" class="form-control"></textarea>
        <span asp-validation-for="DescrizioneCura" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crea</button>
</form>

<a href="Index">Torna all'elenco delle visite</a>
