@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Login</h2>

<hr />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required />
    </div>
            <div class="input-group justify-content-center mt-2">
                <button class="btn btn-outline-primary m-1">Accedi</button>
                <p class="mt-2"><a asp-action="Register" class="m-2 ">Registra</a></p>
            </div>
</form>
    </div>
   <div class="col-2"></div>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}




