@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<hr />
<div class="row">
    <div class="col-md-4">
<form asp-action="Register" method="post">
    <div class="form-group">
        <label for="nomeUser">Nome</label>
        <input type="text" name="nomeUser" class="form-control" id="nomeUser" required />
    </div>
    <div class="form-group">
        <label for="cognomeUser">Cognome</label>
        <input type="text" name="cognomeUser" class="form-control" id="cognomeUser" required />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required />
    </div>
    <div class="form-group">
        <label for="ruoloID">Role</label>
        <select name="ruoloID" class="form-control" id="ruoloID" required>
            @foreach (var role in ViewBag.Ruoli as SelectList)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
    </div>
            <div class="form-group my-3">
                <input type="submit" value="Registarti" class="btn btn-outline-primary" />
                <span><a asp-action="Login" class="m-3">Accedi</a></span>
            </div>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
